/* 

bkg - F5F5F5
grey - 6E7997
green - 1FA38F
white

*/

body {
    background-color: #f5f5f5;
    color: #6E7997;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}



/* Header */
h1, h2 {
    font-family: "Oxanium", sans-serif;
}

h1 {   
    font-size: 64px;
    margin-bottom: 20px;
}

header p {
    font-size: 24px;
    margin-bottom: 20px;
}

header p span,
a.btn {
    color: #1fa38f;
}

a.btn {
    border: 3px solid #1fa38f;
    background-color: #1fa38f;
    color: #fff;
    border-radius: 16px;
    display: inline-block;
    font-family: 'Oxanium', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 64px;
    padding: 16px 0;
    text-decoration: none;
    width: 296px;
}

a.btn:hover {
    background-color: #fff;
    border-color: #6E7997;
    color: #1fa38f;
    cursor: pointer;
}

/* Main */

main {
    display: flex;
    gap: 20px;
    justify-content: center;    
    margin-bottom: 80px;
    margin-top: 80px;    
}

main section {
    background-color: #fff;
    border: 2px solid #6E7997;
    border-radius: 16px;    
    padding: 75px 23px;
}
main img {
    height: 200px;
    margin: 20px 0;
}

h2 {
    color: #1fa38f;
    font-size: 36px;
    font-weight: bold;
}

/* Footer */

/* By default, images are inline, do we don't necessarily
   need to flex them. This just makes it easier to pop in
   the gutter space. */

footer div {
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-bottom: 16px;
}

footer p {
    color: #6E7997;
}